page-user-loyalty-stamp-card {
  ion-navbar button {
    display: none !important;
  }

  ion-header + ion-content > div.scroll-content {
    padding: 16px !important;

    background: #fff !important;
  }

  .title {
    position: initial;

    margin: -10px auto 0;

    font-size: 20px;

    .btn-nav {
      top: 9px;
      left: 8px;

      height: 40px;
    }
  }

  .stamps-window {
    max-width: 100%;
    overflow: auto;

    .holder-stamps {
      .stamp {
        position: relative;

        display: table;
        float: left;
        padding: 8px;
        width: 50%;

        font-size: 18vw;
        color: #c1bfc0;
        text-align: center;

        &:last-child {
          font-size: 9vw;
          color: #a4c73a;
        }

        &:after {
          content: '';

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          margin: auto;
          width: 90%;
          height: 90%;

          border: 1px solid #dfdfde;
        }

        img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          margin: auto;
          width: 50%;
          height: auto;

          background-color: #fff;

          & + span {
            opacity: 0;
          }
        }

        span {
          display: table-cell;
          vertical-align: middle;
        }

        @media screen and (orientation: landscape) {
          width: 20%;

          font-size: 7vw;

          &:last-child {
            font-size: 5vw;
          }
        }
      }
    }
  }
}
