<!--
  Generated template for the PageUserLoyaltyCardDealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <div class="back-btn-holder" tappable (click)="backToLoyaltyCards()">
    <ion-icon ios="ios-arrow-back"></ion-icon>
    <p>Back to Loyalty Cards</p>
  </div> -->
  <ion-navbar *ngIf="hasData">
    <i class="fa fa-angle-left fa-lg" (click)="goPrevious()"></i>
    <span class="business-title">{{business_name}}</span>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="card-deals-holder" *ngIf="hasData">
    <div class="card-deal" *ngFor="let deal of deals" (click)="goCard(deal.deals_id[0].template, deal.loyalty_details.stamp, deal.deals_id[0].buy_pcs)">
      <div class="img-holder">
        <img [src]="deal.deals_id[0].photo.url" alt="">
      </div>
      <div class="text-holder">
        <h3 class="deal-title-text">{{deal.deals_id[0].template}}</h3>
         <span class="card-stamp-text">{{deal.loyalty_details.stamp}} of {{deal.deals_id[0].buy_pcs}}</span>
        <span class="card-expiration-text">Expires {{deal.deals_id[0].end_date | date : 'MM/dd/yyyy'}}</span>
        <i class="fa fa-chevron-right fa-2x"></i>
      </div>
    </div>
  </div>
</ion-content>
