<ion-header>
  <ion-navbar *ngIf="hasData">
    <i class="fa fa-angle-left fa-lg" (click)="goPrevious()"></i>
    <span class="business-title">{{business.company_name}}</span>
  </ion-navbar>
</ion-header>

<ion-content padding class="deals-page">
  <div *ngIf="hasData">
    <div class="slider-holder">
      <ion-slides #slider loop="true">
        <ion-slide *ngFor="let img of business_imgs; let i = index;">
          <img src="{{img.length !== 0 ? img.url : 'assets/images/placeholder.jpg'}}" alt="Deals photo">
        </ion-slide>
      </ion-slides>

      <span class="slide-nav prev" outline (click)="slidePrev()"><i class="fa fa-angle-left fa-lg"></i></span>
      <span class="slide-nav next" outline (click)="slideNext()"><i class="fa fa-angle-right fa-lg"></i></span>
    </div>

    <div class="row">
      <div class="col-12">
        <h4 class="deal-title">{{template}}</h4>
      </div>

      <!-- <div class="col-12">
        <div class="media" *ngFor="let deal of deals">
          <img src="{{deal.photo.url !== unknown ? deal.photo.url : 'assets/images/placeholder.jpg'}}" alt="{{deal.template}}">
          <div class="media-body">
            <a href="#"><h5>{{deal.template}}</h5></a>
          </div>
        </div>
      </div> -->

      <div class="col-12 share-deal">
        <p>Share this deal</p>
        <ul class="social-list">
          <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li><a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest fa-lg"></i></a></li>
        </ul>
      </div>

      <div class="col-12 about-business">
        <h5 class="about-title">About {{business.company_name}}</h5>
        <p class="about-description">{{business.description}}</p>

        <ul class="social-links list-unstyled">
          <li class="address-link">
            <a href="https://www.google.com/maps/dir/{{business_address}}" target="_blank">
              <i class="fa fa-map-marker fa-2x"></i>
              <span class="business-name">{{business.company_name}}</span> <br>
              <span class="business-address"> {{business.state}}, {{business.country}}, {{business.zip_postal}} </span>
            </a>
          </li>
          <!-- <li *ngIf="business.operations.length === 0">
          </li>
          <li *ngIf="business.operations[0] === '2'">
            <i class="fa fa-clock-o fa-2x"></i>
            Open 24 Hours
          </li>
          <li *ngIf="business.operations[0] !== '2' && business.operations.length !== 0 && hasData === true">
            <i class="fa fa-clock-o fa-2x"></i>
              Opening Hours -->
              <!-- <a class="toggle-collapse" (click)="showHours()">(show more)</a> -->
              <!-- *ngFor="let operations of business.operations; let i = index" -->
              <!-- <ul class="list-unstyled operations-list"> -->
                 <!-- {{ business.sample_data.Monday.start }} -  {{ business.sample_data.Monday.end}}  -->
                <!-- <li *ngIf="business.sample_data.Monday != null"><strong>Monday</strong> {{ business.sample_data.Monday.start }} -  {{ business.sample_data.Monday.end}}  </li>
                <li *ngIf="business.sample_data.Tuesday != null"><strong>Tuesday</strong>  {{ business.sample_data.Tuesday.start }} -  {{ business.sample_data.Tuesday.end}}  </li>
                <li *ngIf="business.sample_data.Wednesday != null"><strong>Wednesday</strong> {{ business.sample_data.Wednesday.start }} -  {{ business.sample_data.Wednesday.end}} </li>
                <li *ngIf="business.sample_data.Thursday != null"><strong>Thursday</strong> {{ business.sample_data.Thursday.start }} -  {{ business.sample_data.Thursday.end}}</li>
                <li *ngIf="business.sample_data.Friday != null"><strong>Friday</strong> {{ business.sample_data.Friday.start }} -  {{ business.sample_data.Friday.end}}</li>
                <li *ngIf="business.sample_data.Saturday != null"><strong>Saturday</strong> {{ business.sample_data.Saturday.start }} -  {{ business.sample_data.Saturday.end}}</li>
                <li *ngIf="business.sample_data.Sunday != null"><strong>Sunday</strong> {{ business.sample_data.Sunday.start }} -  {{ business.sample_data.Sunday.end}}</li>
              </ul>
          </li> -->
          <li class="info-link">
            <a href="tel:{{business.phone_number}}">
              <i class="fa fa-phone fa-2x"></i>
              {{business.phone_number}}
            </a>
          </li>
          <li class="info-link">
            <a href="{{business.company_website}}" target="_blank">
              <i class="fa fa-globe fa-2x"></i>
              {{business.company_website}}
            </a>
          </li>
          <li class="info-link">
            <a href="mailto:{{business.business_email}}">
              <i class="fa fa-envelope fa-2x"></i>
              {{business.business_email}}
            </a>
          </li>
          <!-- <li>
            <i class="fa fa-facebook fa-2x"></i>
            GoPageApp
          </li>
          <li>
            <i class="fa fa-twitter fa-2x"></i>
            @gopageapp
          </li>
          <li>
            <i class="fa fa-instagram fa-2x"></i>
            @gopageco
          </li> -->
        </ul>
      </div>

      <div class="col-12 location-map">
        <h5>Location</h5>
      </div>
      <div class="map-view" id="mapView"></div>
    </div>
  </div>
</ion-content>
